#card-left,
#card-right {
    width: 700px;
    height: 935px;
    background-color: rgba(212, 5, 5, 0);
    position: relative;
    z-index: 6;
    float: left;
    overflow: auto;
}

#card-cent-top {
    width: 325px;
    height: 325px;
    background-color: rgba(212, 5, 5, 0.527);
    position: relative;
    z-index: 9;
    float: left;
    margin-left: 5.3%;
    margin-top: -25.3%;
}

div img {
    width: 100%;
    height: 100%;
}

#card-right {
    position: relative;
    z-index: 8;
    float: right;
}

#card-left::-webkit-scrollbar {

    display: none;
    /*隐藏滚动条*/

}

body {
    font-family: myfont;
    font-size: 2rem;
}

#card,
#card1 {
    background: #042a551a;
    font-size: 2rem;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    color: rgb(1, 81, 128);
    border: 2px dashed rgb(1, 81, 128);
    margin: 2rem;
}

#card1,
#card2 {
    color: rgba(95, 125, 180, 0.973);
}

#card2:hover {
    /* background: #042a5549; */
    color: #196496c0;
}

p:hover {
    color: #196496c0;
}

#card:hover,
#card1:hover {
    /* background: #042a5549; */
    color: #ffffffc0;
}

#card,
#card1 {
    display: none;
}

div:hover #card,
div:hover #card1 {
    display: block;
}